/*cores whatsapp:
verde fundo topo: #00a884
cinza fundo: #e3e2dd
verde da linha: #25d369
fundo grande conversa: #f8f8f8
lista de conversas: #ffffff
barra de busca: #ebf6f9
barra usuario: #f1f2f6
*/

*{
    margin:0;
    padding: 0;
  }

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body, #container-fundo {
    width: 100%;
    height: 100%;
}

#fundo-verde {
    width: 100%;
    height: 10%;
    background: #00a884;
}

#fundo-cinza {
    width: 100%;
    height: 90%;
    background: #e3e2dd;
}

#container-conversas {
    width: 97%;
    height: 93%;
    background-color: #f8f8f8;
    position: absolute;
    display: flex;
}

#lista-conversas {
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
      
}

#barra-usuario {
    width: 100%;
    height: 59px;
    background-color: #883e3e; 
}

#barra-busca {
    width: 100%;
    height: 49px;
    background-color: #0990b5;
    display: flex;
  
}

input {
    border-radius: 10px;
    background-color: #e3e2dd;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 80%;
    height: 20px;
    padding-left: 2.1%;
    padding-right: 2.1%;
    margin-top: 2%;
    margin-bottom: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    text-align:center;
}

#arquivadas {
    background-color: #84752b;
    width: 100%;
    height: 49px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    padding-top: 10px;
}

.contato1 {
    background-color: #d921bd;
    width: 100%;
    height: 69.5px;
    
}
.contato2 {
    background-color: #858184;
    width: 100%;
    height: 69.5px;
    
}.contato3 {
    background-color: #c5bf4f;
    width: 100%;
    height: 69.5px;
    
}.contato4 {
    background-color: #33d921;
    width: 100%;
    height: 69.5px;
    
}.contato5 {
    background-color: #cbc7ca;
    width: 100%;
    height: 69.5px;
    
}.contato6 {
    background-color: #2192d9;
    width: 100%;
    height: 69.5px;
    
}




